* {
    background: url(bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;

    background-size: cover;
}

#container {
  background-color: #fff;
  color: white;

  opacity: 0.7;

}
