
// * {
//   background-image: image-url('bg.png') no-repeat center center fixed;
//      -webkit-background-size: cover;
//      -moz-background-size: cover;
//      background-size: cover;
//
//      color: white;
// }

// The below is what jenah did and it works for the home page but I'm having trouble replicating
.edit {

  width: 40%;
  border: 3px;
  padding: 10px;
  position: fixed;
  top: 15%;
  left: 1%;

  color: black;

  label {
    color: black;
  }

  i {
    color: black;
  }

  em {
    color: black;
  }



}

.new {
  width: 40%;
  border: 3px;
  padding: 10px;
  position: fixed;
  left: 1%;

  color: black;

  label {
    color: black;
  }

  i {
    color: black;
  }

  em {
    color: black;
  }
}


.sign {
  width: 40%;
  border: 3px;
  padding: 10px;
  position: fixed;
  left: 1%;

  color: black;

  label {
    color: black;
  }

  i {
    color: black;
  }

  em {
    color: black;
  }




}
.field {
  color: black;
}




body {
  background-image: image-url('watergun.png');
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 background-attachment:fixed;


 color: black;
 background-position: center-top;
 a {
   color: #1C2130;
 }
}



.individuals {
  background-image: image-url('cat.png');
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 background-attachment:fixed;


 color: white;
 background-position: center-top;
}

.favorites {


         background-image: image-url('bg.png');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment:fixed;


        color: white;
        background-position: center-top;

        a {
          color: white;
        }




}
.homes {
  background-image: image-url('watergun.png');
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 background-attachment:fixed;


 color: white;
 background-position: center-top;
}



.playlists {
  background-image: image-url('kanti.png');
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 background-attachment:fixed;


 color: white;
 background-position: center-top;

 a {
   color: white;
 }

}
label {
  color: white;
}


#container {


  color: white;

  opacity: 0.7;


  margin: auto;
  width: 50%;
  border: 3px;
  padding: 10px;


}



.anchorCenter {
  text-align: center;
}

#containerNoVid {
  margin: auto;
  width: 50%;
  border: 3px;
  padding: 10px;
  color: white;
}

.playlistIndex {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

.favoriteCenter {
  text-align: center;
  line-height: 90px;
}

.addSongButton:hover{


  position: auto;
    left: 100px;
    border: 3px solid #8AC007;


}
.addSongButton {
  color: #D4EE5E;


}

.removeSongButton {
margin-right: 300px;
color: #FF4242;

}
.removeSongButton:hover{

  position: auto;
    left: 100px;
    border: 3px solid red;


}

.likeSong{
  color: white;
}

.form {
  margin: auto;
  width: 50%;
  border: 3px;
  padding: 10px;
  width: 50%
}

.adminForm {
  margin: auto;
  width: 40%;
  border: 3px;
  padding: 10px;
  position: fixed;
  top: 15%;
  left: 1%;
  color: black;

  label {
    color: black;
  }

  i {
    color: black;
  }

  em {
    color: black;
  }
}

.field {
  color: white;
}
.action {
  color: white;
}
// .parallax {
//     /* The image used */
//     background-image: url(gun-2.tiff);
//
//     /* Set a specific height */
//     height: 500px;
//
//     /* Create the parallax scrolling effect */
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }



.leftSide {


position: fixed;
top: 15%;
left: 3%;



}

.flex {
  display: flex

}

button {
  color: white;
}
