
// * {
//   background-image: image-url('bg.png') no-repeat center center fixed;
//      -webkit-background-size: cover;
//      -moz-background-size: cover;
//      background-size: cover;
//
//      color: white;
// }

// The below is what jenah did and it works for the home page but I'm having trouble replicating
#home {


}



body {

  
         background-image: image-url('bg.png');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment:fixed;

        color: white;
        background-position: center-top;

}
label {
  color: white;
}
//   #looting {
//
//      * {background: url(bg.png) no-repeat center center fixed;
//       -webkit-background-size: cover;
//       -moz-background-size: cover;
//       background-size: cover;
//
//       color: white;}
//
//   }
//
//
//   .sign {
//     * {
//       color: white;
//     }
//   }
//
// .nav {
//
//     * {
//       background-image: url(bg.png);
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     background-size: cover;
//   }
//   }


#container {


  color: white;

  opacity: 0.7;


  margin: auto;
  width: 50%;
  border: 3px;
  padding: 10px;


}






.field {
  color: white;
}
.action {
  color: white;
}
// .parallax {
//     /* The image used */
//     background-image: url(gun-2.tiff);
//
//     /* Set a specific height */
//     height: 500px;
//
//     /* Create the parallax scrolling effect */
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }







button {
  color: white;
}
